<form method="post" action="{{ path('noticia_delete', {'id': noticium.id}) }}" onsubmit="return confirm('Estas seguro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ noticium.id) }}">
    <button class="btn">Borrar</button>
</form>
