{% extends 'base.html.twig' %}

{% block title %}Nueva noticia{% endblock %}

{% block body %}
    <div class="container">
        <h1>Crear noticia</h1>
        <div>
            {{ include('noticia/_form.html.twig') }}
            <a href="{{ path('noticia_index') }}"><button class="btn">Volver</button></a>
        </div>
    </div>
{% endblock %}
