{% extends 'base.html.twig' %}

{% block title %}Nueva noticia{% endblock %}

{% block body %}
    <h1>Crear noticia</h1>

    {{ include('noticia/_form.html.twig') }}

    <a href="{{ path('noticia_index') }}">Volver</a>
{% endblock %}
