{% extends 'base.html.twig' %}

{% block title %}Edit Equipo{% endblock %}

{% block body %}
    <h1>Edit Equipo</h1>

    {{ include('equipo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipo_index') }}"><button class="btn">Volver</button></a>

    {{ include('equipo/_delete_form.html.twig') }}
{% endblock %}
