{% extends 'base.html.twig' %}

{% block title %}Crear equipo{% endblock %}

{% block body %}
    <h1>Crear equipo</h1>

    {{ include('equipo/_form.html.twig') }}

    <a href="{{ path('equipo_index') }}"><button class="btn">Volver</button></a>
{% endblock %}
