<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="{{ asset('assets/css/library/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/dev-assets/preloader-default.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/dev-assets/demo-switcher.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css-min/soccer.min.css') }}" rel="stylesheet" type="text/css" />
        <style type="text/css">
            form {
                padding-left: 200px;
                padding-right: 200px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            input {
                width: 100px;
            }
        </style>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style=" background: #FFD400;
  background: -webkit-linear-gradient(left, #F9FDFD, #DFE4E9, #C2CBD2);
  background: -o-linear-gradient(left, #F9FDFD, #DFE4E9, #C2CBD2);
  background: -moz-linear-gradient(left, #F9FDFD, #DFE4E9, #C2CBD2);
  background: linear-gradient(left, #F9FDFD, #DFE4E9, #C2CBD2);">
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
