{% extends 'base.html.twig' %}

{% block title %}Nueva Clasificacion{% endblock %}

{% block body %}
    <h1>Crear nueva Clasificacion</h1>

    {{ include('clasificacion/_form.html.twig') }}

    <a href="{{ path('clasificacion_index') }}"><button class="btn">Volver</button></a>

{% endblock %}
