<form method="post" action="{{ path('partido_delete', {'id': partido.id}) }}" onsubmit="return confirm('Estas seguro??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partido.id) }}">
    <button class="btn">Borrar</button>
</form>
