{% extends 'base.html.twig' %}

{% block title %}Partido nuevo{% endblock %}

{% block body %}
    <div class="container">
        <h1>Crear partido</h1>
        <div>
            {{ include('partido/_form.html.twig') }}
            <a href="{{ path('partidos_index') }}"><button class="btn">Volver</button></a>
        </div>
    </div>
{% endblock %}
